<div class="card text-dark text-center" style="width: 18rem;">
  <img src="/assets/img/{{user.photo}}.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">{{user.description}}
    </p>
    <p class="card-text">Gender: {{user.gender}}</p>
    <p class="card-text">Age: {{user.age}} years old</p>
    <p class="card-text">Address: {{user.location.zip}}, {{user.location.address}}. {{user.location.city}}</p>

  </div>
</div>