<ion-card *ngIf="user" class="text-center" button="true" color="medium">
  <ion-card-header>
    <img src="{{user.photo}}" alt="{{user.photo}}">
    <ion-card-title>{{user.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content class="py-0">
    {{user.description}}
  </ion-card-content>
  <ion-card-content class="py-0">
    {{user.age}}
  </ion-card-content>
  <ion-card-content class="py-0">
    {{user.gender}}
  </ion-card-content>
  <ion-card-content class="py-0">
    {{user.location.city}}
  </ion-card-content>
  <div *ngIf="!all && currentUser == ''" class="row my-5">
    <ion-fab-button (click)="onLike(true, false, user)" class="mx-auto" color="success"><i class="fa fa-thumbs-up"></i>
    </ion-fab-button>
    <ion-fab-button class="mx-auto" color="primary"><i class="fa fa-star"></i></ion-fab-button>
    <ion-fab-button (click)="onDisLikeWhenAllSeen(false, user)" class="mx-auto" color="danger"><i
        class="fa fa-close"></i></ion-fab-button>
  </div>
  <div *ngIf="currentUser != ''" class="row my-5">
    <ion-fab-button class="mx-auto" color="primary"><i class="fa fa-star"></i></ion-fab-button>
    <ion-fab-button (click)="onDeleteConnection(connection)" class="mx-auto" color="danger"><i class="fa fa-close"></i>
    </ion-fab-button>
  </div>
  <div *ngIf="all" class="row my-5">
    <ion-fab-button class="mx-auto" color="primary"><i class="fa fa-star"></i></ion-fab-button>
    <ion-fab-button (click)="onDisLike(false, user)" class="mx-auto" color="danger"><i class="fa fa-close"></i>
    </ion-fab-button>
  </div>


</ion-card>