<ion-card class="text-center" button="true" color="medium">
  <ion-card-header>
    <img src="{{user.photo}}" alt="{{user.photo}}">
    <ion-card-title>{{user.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{user.description}}
  </ion-card-content>
  <ion-card-content>
    {{user.age}}
  </ion-card-content>
  <ion-card-content>
    {{user.gender}}
  </ion-card-content>
  <div *ngIf="all" class="row my-5">
    <ion-fab-button click="onLike(true, user)" class="mx-auto" color="success"><i class="fa fa-thumbs-up"></i>
    </ion-fab-button>
    <ion-fab-button class="mx-auto" color="primary"><i class="fa fa-star"></i></ion-fab-button>
    <ion-fab-button class="mx-auto" color="danger"><i class="fa fa-close"></i></ion-fab-button>
  </div>

</ion-card>