<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row *ngIf="user && location">
      <form #userForm="ngForm" class="col-12 col-lg-6 offset-lg-3" (ngSubmit)="onUpdate(userForm, user, location)">
        <div class="profile-photo--container" *ngFor="let photo of photoService.photos | showLatest; index as position">
          <ion-img class="mx-auto" [src]="photo.webviewPath"></ion-img>
        </div>
        <ion-fab vertical="top" horizontal="center" slot="fixed">
          <ion-fab-button (click)="addPhotoToGallery()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <h5 class="text-center mt-5 pt-2">Create a picture of yourself</h5>
        <div class="form-group">

          <label for="" class="mt-2">Name</label>
          <input name="name" [(ngModel)]="user.name" type="text" class="form-control"
            pattern="^[A-ZÁÉŐÚŰÖÜÓÍ]{1}[A-ZÁÉŐÚŰÖÜÓÍa-záéűúőöüóí ]{1,}$" placeholder="your full name" required>
          <div [hidden]="userForm.controls.name?.valid || userForm.controls.name?.pristine" class="error-feedback">
            Start with an UPPERCASE character, and be 2 characters long at least
          </div>
        </div>
        <div class="form-group">
          <label for="" class="mt-2">Age</label>
          <input name="age" [(ngModel)]="user.age" type="text" class="form-control" pattern="^[0-9]{1}[0-9]{1}$"
            placeholder="00" required>
          <div [hidden]="userForm.controls.age?.valid || userForm.controls.age?.pristine" class="error-feedback">
            Age can only use numbers, and must be 2 charachters long
          </div>
        </div>
        <div class="form-group">
          <label for="" class="mt-2">Gender</label>
          <select name="gender" [(ngModel)]="user.gender" class="form-control" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="" class="mt-2">Description</label>
          <textarea name="description" [(ngModel)]="user.description" class="form-control" cols="30" rows="8"
            pattern="^[A-Z]{1}[A-Za-z -.,]{1,249}$" placeholder="informations of you" required></textarea>
          <div [hidden]="userForm.controls.description?.valid || userForm.controls.description?.pristine"
            class="error-feedback">
            Must start with an UPPERCASE character, and must be 2-250 charachters long
          </div>
        </div>

        <h4 class="text-center">Interests</h4>
        <div>
          <div *ngFor="let interest of user.interest" class="form-group">
            <label for="" class="mt-2">Interest</label>
            <input name="interestName" [(ngModel)]="interest.name" type="text" class="form-control"
              pattern="^[A-Za-z ]{2,}$" placeholder="something you are intrested in" required>
            <div [hidden]="userForm.controls.interestName?.valid || userForm.controls.interestName?.pristine"
              class="error-feedback">
              Must be 2 characters long at least
            </div>
            <label for="" class="mt-2">Description</label>
            <textarea name="interestDes" [(ngModel)]="interest.description" cols="30" rows="3" class="form-control"
              pattern="^[A-Za-z -.,]{2,200}$" placeholder="something of your interest" required></textarea>
            <div [hidden]="userForm.controls.interestDes?.valid || userForm.controls.interestDes?.pristine"
              class="error-feedback">
              Must be 2-200 characters long
            </div>
          </div>
          <div class="form-group">

          </div>
        </div>

        <h4 class="text-center">Location</h4>

        <div class="form-group">
          <label for="" class="mt-2">Zip</label>
          <input name="zip" [(ngModel)]="user.location.zip" type="text" class="form-control"
            pattern="^([A-Z]{2}|[0-9]{2})[0-9]{2,4}$" placeholder="AA012/0000" required>
          <div [hidden]="userForm.controls.zip?.valid || userForm.controls.zip?.pristine" class="error-feedback">
            Wrong format|recommended format: AA012/0000
          </div>
        </div>
        <div class="form-group">
          <label for="" class="mt-2">City</label>
          <input name="city" [(ngModel)]="user.location.city" type="text" class="form-control"
            pattern="^[A-ZÁÉŐÚŰÖÜÓÍ]{1}[A-ZÁÉŐÚŰÖÜÓÍa-záéűúőöüóí ]{1,}$" placeholder="Sample City" required>
          <div [hidden]="userForm.controls.city?.valid || userForm.controls.city?.pristine" class="error-feedback">
            Must start with an UPPERCASE character, and be 2 characters long at least
          </div>
        </div>
        <div class="form-group">
          <label for="" class="mt-2">Address</label>
          <input name="address" [(ngModel)]="user.location.address" type="text" class="form-control"
            pattern="^[0-9]{1,3}[A-ZÁÉŐÚŰÖÜÓÍa-záéűúőöüóí -,.]{1,}$" placeholder="00 Sample Street" required>
          <div [hidden]="userForm.controls.address?.valid || userForm.controls.address?.pristine"
            class="error-feedback">
            Wrong format|recommended format: 00 Sample Street
          </div>
        </div>
        <button [disabled]="userForm.invalid || submitted" type="submit" class="btn btn-success btn-block btn-lg mt-3">
          <span *ngIf="!submitted" class="fa fa-save"></span>
          <span *ngIf="submitted" class="fa fa-refresh save"></span>
        </button>
      </form>
    </ion-row>
  </ion-grid>


</ion-content>