<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="col-12 col-lg-6 offset-lg-3">
    <ion-searchbar class="search-bar" [(ngModel)]="phrase" showCancelButton="never"></ion-searchbar>
    <div class="row">
      <ion-button (click)="all = false" class="mx-auto" color="success">Show all</ion-button>
      <ion-button (click)="all = true" class="mx-auto" color="success">Liked only</ion-button>
    </div>
  </div>

  <div class="col-lg-4 offset-lg-4" *ngIf="!all">
    <app-profile-card class="my-2 mx-2"
      *ngFor="let user of userList$ | async | showed:showed | connectionFilter | filter:phrase" [user]="user"
      [all]="all">
    </app-profile-card>
  </div>
  <div class="col-lg-4 offset-lg-4" *ngIf="!all">
    <app-profile-card class="my-2 mx-2" *ngFor="let user of userList$ | async | showed:showed | filter:phrase"
      [user]="user" [all]="all">
    </app-profile-card>
  </div>

  <div class="col-lg-4 offset-lg-4" *ngIf="all">
    <app-profile-card class="my-2 mx-2" *ngFor="let user of userList$ | async | likedOnly:true | filter:phrase"
      [user]="user" [all]="all">
    </app-profile-card>
  </div>



</ion-content>